<div *ngIf="news" class="card-box" (click)="goToNewsPage()">
    <div class="image-box">
        <img [src]="news.image ? news.image : 'assets/img/default-img.svg'" class="img"/>
    </div>
    <div class="news-info">
        <div class="news-info-header">
            <div class="news-icon-info">
                <mat-icon class="icon">calendar_today</mat-icon>
                <span>{{ getConvertedDate() }}</span>
            </div>
            <div class="news-icon-info">
                <mat-icon class="icon">remove_red_eye</mat-icon>
                <span>{{ news.viewCount }}</span>
            </div>
        </div>
        <h2 ellipsis class="news-title">{{ news.title }}</h2>
        <div class="news-tags">
            <span *ngFor="let tag of news.tags">{{ tag.title }}</span>
        </div>
    </div>
</div>
