<section class="main-container">
    <div class="main-box">
        <div class="news-header">
            <h1>Новини</h1>
            <button class="btn btn-accent">Додати новину</button>
        </div>
        <div class="news-container">
            <app-news-card *ngFor="let news of newsList" [news]="news" class="card"></app-news-card>
            <button class="btn-icon">
                <mat-icon class="icon">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>
</section>
