.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: var(--black);

    .main-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 1240px;
        padding: 24px 64px;

        .news-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-bottom: 12px;
            border-bottom: 1px solid var(--black);
        }
    
        .news-container {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
        }
    }

}