.main-container {
    width: 100%;
    min-height: 100vh;
    padding: 0 64px;
    color: var(--black);

    .main-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: 1240px;
        padding: 24px 0;

        .news-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-bottom: 12px;
            border-bottom: 1px solid var(--black);
        }
    
        .news-container {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
        }
    }
}

@media (max-width: 1240px) {
    .main-container .main-box {
        max-width: 960px;
    }
}

@media (max-width: 1020px) {
    .main-container .main-box {
        max-width: 100%;
    }
}
