<div *ngIf="news" class="news-page">
    <div class="header">
        <button class="btn btn-link" (click)="backToAllNews()">
            <mat-icon class="icon">keyboard_arrow_left</mat-icon>
            <span>Назад</span>
        </button>
    </div>
    <section class="news-box">
        <div class="news-img">
            <img [src]="news.imageSource ? news.imageSource : 'assets/img/default-img.svg'" class="img"/>
        </div>
        <div class="news-text-box">
            <div class="news-info-header">
                <div class="news-icon-info">
                    <mat-icon class="icon">calendar_today</mat-icon>
                    <span>{{ news.date }}</span>
                </div>
                <div class="news-icon-info">
                    <mat-icon class="icon">remove_red_eye</mat-icon>
                    <span>{{ news.viewCount }}</span>
                </div>
                <div class="news-icon-info">
                    <mat-icon class="icon">mode_comment</mat-icon>
                    <span>{{ news.commentsCount }}</span>
                </div>
            </div>
            <div class="news-title">
                <h1 class="title-h1">{{ news.title }}</h1>
                <p>{{ news.description }}</p>
            </div>
        </div>
    </section>
</div>
